#header, #header img, .bc{
	height: 5.25vw;
}
#header label.title{
	color: #411258;
	font-size: 4vw;
}
.line{
	color: white;
	background: #000000 url('/assets/img/bg3.png') repeat;
	height: 5vw;
	overflow: hidden;
	display: flex;
}
.line div{
	display: inline-block;
}
.line a{
	text-decoration: underline;
}
.line .content{
	width: 88vw;
	padding: 0.2vw 1vw 0.2vw 1vw;
	border-bottom: 1px dashed #444;
}
a div,a label{
	cursor: pointer;
}

.line .side-div{
	height: 5vw;
	width: 5.5vw;
}
.line .img-bg{
	overflow: hidden;
}
.line .position{
	background: #000000 url('/assets/img/sprite-texts-bg.png') repeat;
	background-size: 417.88vw, 5vw;
	background-position: -370vw 0vw;
	color: #999;
	font-weight: bold;
}
.line img{
	width: 394.67vw;
	height: 5vw!important;
}
.line div.content, .line div.content label{
	cursor: pointer;
}
.bc span{
	color: white;
}
.bc-link{
	color: white;
	text-decoration: underline;
}

.img-bg.deer img{margin-left:-5.5vw}
.img-bg.duck img{margin-left:-11vw}
.img-bg.elephant img{margin-left:-16.5vw}
.img-bg.flamingo img{margin-left:-22vw}
.img-bg.giraffe img{margin-left:-27.5vw}
.img-bg.gorilla img{margin-left:-33vw}
.img-bg.horse img{margin-left:-38.5vw}
.img-bg.lion img{margin-left:-44vw}
.img-bg.pig img{margin-left:-49.5vw}
.img-bg.rhinoceros img{margin-left:-55vw}
.img-bg.seal img{margin-left:-60.5vw}
.img-bg.scorpion img{margin-left:-66vw}
.img-bg.spider img{margin-left:-71.5vw}
.img-bg.swan img{margin-left:-77vw}
.img-bg.bear img{margin-left:-82.5vw}
.img-bg.butterfly img{margin-left:-88vw}

.img-bg.red{ background: #000000 url('/assets/img/headers/red.jpg') repeat; }
.img-bg.beige{ background: #000000 url('/assets/img/headers/beige.jpg') repeat; }
.img-bg.black{ background-color: #000000; }
.img-bg.blue{ background: #000000 url('/assets/img/headers/blue.jpg') repeat; }
.img-bg.brown{ background: #000000 url('/assets/img/headers/brown.jpg') repeat; }
.img-bg.crimson{ background: #000000 url('/assets/img/headers/crimson.jpg') repeat; }
.img-bg.cyan{ background: #000000 url('/assets/img/headers/cyan.jpg') repeat; }
.img-bg.pink{ background: #000000 url('/assets/img/headers/pink.jpg') repeat; }
.img-bg.gray{ background: #000000 url('/assets/img/headers/gray.jpg') repeat; }
.img-bg.green{ background: #000000 url('/assets/img/headers/green.jpg') repeat; }
.img-bg.magenta{ background: #000000 url('/assets/img/headers/magenta.jpg') repeat; }
.img-bg.orange{ background: #000000 url('/assets/img/headers/orange.jpg') repeat; }
.img-bg.purple{ background: #000000 url('/assets/img/headers/purple.jpg') repeat; }
.img-bg.red{ background: #000000 url('/assets/img/headers/red.jpg') repeat; }
.img-bg.white{ background: #000000 url('/assets/img/headers/white.jpg') repeat; }
.img-bg.yellow{ background: #000000 url('/assets/img/headers/yellow.jpg') repeat; }
